body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-input:focus {
  outline: none;
  border-color: #15334d;
}
